$btn-font-size: 18px;
$btn-padding: 10px 20px;

.btn-more {
  @include font-size-normal;

  font-weight: $font-thin;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  &-color-elementary {
    @include font-size-normal;

    border-radius: $border-radius;
    padding: $btn-padding;
    box-shadow: $box-shadow;
    color: $color-elements;
    background-color: $color-secondary;
    cursor: pointer;

    &:hover {
      background-color: $color-secondary;
      opacity: $button-opacity;
    }

    &:active {
      border-color: $color-elements;
      box-shadow: none;
    }
  }
}
