$comments-input-font-size: 24px;
$comments-input-padding: 5px 10px;
$comment-margin-top: 25px;
$comment-photo-size: 60px;
$comment-photo-border: 1px solid $color-elements;
$comment-author-name-font-size: 24px;
$comment-description-margin-left: 20px;

.comments {
  transition: 0.5s;

  &__comment {
    margin-top: $comment-margin-top;
  }
}

.comments-show {
  @include row;

  justify-content: center;
  margin: 1rem 0;
  cursor: pointer;

  &__text {
    @include font-size-normal;

    margin-left: 0.3em;
  }
}

.inner-comment {
  margin-left: 4rem;
}

.comment-answer-input {
  margin-bottom: 2.5rem;
}

.comment {
  margin-bottom: 1rem;

  &__content {
    display: flex;
  }

  &__author-photo {
    border: $border;
    border-radius: $border-radius;
    pointer-events: all;
    @include side-bar-user-icon-size;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: $img-icon-user-default;
    }

  &__description {
    @include col;

    align-items: flex-start;
    margin-left: $comment-description-margin-left;
  }

  &__author-name {
    @include font-size-normal;

    font-weight: $font-thick;
  }

  &__text {
    @include font-size-normal;
  }

  &__bottom {
    @include right;
  }

  &__answer-btn {
    @include font-size-small;

    color: $color-elements;
    cursor: pointer;

    &:hover {
      color: $color-secondary;
    }
  }

  &__edit-btn {
    @include font-size-small;

    color: $color-elements;
    cursor: pointer;

    &:hover {
      color: $color-secondary;
    }
  }

  &__answers {
    @media (min-width: 1201px) {
      margin-left: 64px;
    }
  
    @media (max-width: 1200px) {
      margin-left: 59px;
    }
  
    @media (max-width: 900px) {
      margin-left: 39px;
    }
  }

  &__time {
    @include font-size-small;
  }
}