$comments-margin-bottom: 100px;
$comments-input-font-size: 24px;
$comments-input-padding: 5px 10px;
$comment-margin-top: 25px;
$comment-photo-size: 60px;
$comment-photo-border: 1px solid $color-elements;
$comment-author-name-font-size: 24px;
$comment-text-font-size: 18px;
$comment-action-btns-font-size: 18px;
$comment-description-margin-left: 20px;

.comments {
  margin-bottom: $comments-margin-bottom;

  &__comment {
    margin-top: $comment-margin-top;
  }
}

.comment {
  &__content {
    display: flex;
  }

  &__author-photo {
    border: $comment-photo-border;
    border-radius: $border-radius;
    width: $comment-photo-size;
    height: $comment-photo-size;
  }

  &__description {
    @include col;

    align-items: flex-start;
    margin-left: $comment-description-margin-left;
  }

  &__author-name {
    font-weight: $font-thick;
    font-size: $comment-author-name-font-size;
  }

  &__text {
    font-size: $comment-text-font-size;
  }

  &__bottom {
    @include right;
  }

  &__answer-btn {
    font-size: $comment-action-btns-font-size;
    cursor: pointer;

    &:hover {
      color: $color-secondary;
    }
  }

  &__time {
    font-size: $comment-action-btns-font-size;
  }
}