$submit-btn-font-size: 36px;
$input-font-size: 24px;
$warning-font-size: 30px;
$form-title-font-size: 64px;
$submit-btn-padding: 10px 40px;
$input-padding: 10px;
$form-row-margin: 0.5rem 0;
$form-padding: 70px;

.form {
  &__rows {
    @include col;

    align-items: flex-end;
    width: 100%;
  }

  &__row {
    @include col;

    position: relative;
    align-items: flex-start;
    justify-content: flex-start;
    margin: $form-row-margin;
    width: 100%;
  }

  &__input {
    @include font-size-normal;

    border: $border;
    border-radius: $border-radius;
    padding: $input-padding;
    width: -webkit-fill-available;
    color: $color-primary;
    background-color: $color-elements;

    &:hover {
      border: 2px solid $color-secondary;
      box-shadow: 0 0 15px $color-secondary;
    }
  }

  &__submit-btn {
    @include font-size-normal;

    border-radius: $border-radius;
    padding: $submit-btn-padding;
    width: 100%;
    box-sizing: border-box;
    color: $color-primary;
    background-color: $color-elements;
    cursor: pointer;
  }

  &__field {
    width: 100%;
  }

  &__block {
    // @include block;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
  }

  &__link {
    width: fit-content;
    @media (max-height: 400px) {
      align-self: center;
      display: flex;
    }
  }

  &__warning {
    @include font-size-normal;

    display: none;
    border: 2px solid $color-secondary;
    border-radius: $border-radius;
    padding: $input-padding;
    width: -webkit-fill-available;
    box-shadow: 0 0 25px $color-warning;
    hyphens: auto;
    color: $color-warning;
    background-color: $color-elements;

    &-label-show {
      display: block;
      @media (max-height: 400px) {
        display: none;
      }
    }
  }

  &__label {
    margin-right: $label-margin;
  }

  // #form-warning-label {
  //   
  // }

  &__title {
    @include font-size-large;
  }

  &__page {
    @include col;

    justify-content: center;
    border-radius: 30px;
    padding: $form-padding;
    background-color: $color-secondary;

    &_bg {
      @include center;

      background: $color-primary;
      background-size: cover;
    }
  }
}

.password {
  &__control-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    background: $img-icon-eye-closed 0 0 no-repeat;
    cursor: pointer;
  }

  &__show {
    background: $img-icon-eye-open 0 0 no-repeat;
  }
}