// рукоять лупы
@mixin glass-handle-offset-left() {
  @media (min-width: 901px) {
    left: 19.5px;
  }

  @media (max-width: 900px) {
    left: 15.2px;
  }
}

// кружок лупы
@mixin glass-lense-offset-left() {
  @media (min-width: 901px) {
    left: -12.5px;
  }

  @media (max-width: 900px) {
    left: -9.1px;
  }
}

// крестик диагональ
@mixin search__button-before() {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 22px;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 2px;
  background: $color-elements;
  transform: rotate(45deg);
  transition: all 0.5s;
}

// крестик вторая диагональ
@mixin search__button-after() {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -5px;
  bottom: 0;
  margin: auto;
  border: 2px solid $color-elements;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  transition: all 0.5s;
}

.search-icon {
  &::before {
    @include search__button-before;
    @include glass-handle-offset-left;
  }

  &::after {
    @include search__button-after;
    @include glass-lense-offset-left;
  }
}

.cross-icon {
  background: $color-elements;

  &::before {
    @include search__button-before;

    left: 0;
    top: 0;
    width: 25px;
    background: $color-primary;
  }

  &::after {
    @include search__button-after;

    left: 0;
    top: 0;
    border: none;
    border-radius: 0%;
    width: 25px;
    height: 2px;
    background: $color-primary;
    transform: rotate(-45deg);
  }

  &_white {
    &::before {
      background-color: $color-elements;
    }

    &::after {
      background-color: $color-elements;
    }
  }

  &:hover {
    background: $color-elements;
  }
}