$icon-size: 40px;
$user-img: 60px;

.icon {
  @include row;

  &__img {
    width: $icon-size;
    height: $icon-size;
    cursor: pointer;
  }

  &__text {
    font-size: $items-font-size;
  }
}

.icon-like {
  background: $img-icon-like;

  &:hover {
    background: $img-icon-like-hover;
  }
}

.icon-comments {
  background: $img-icon-comments;

  &:hover {
    background: $img-icon-comments-hover;
  }
}

.user-img {
  border: $border;
  border-radius: $border-radius;
  width: $user-img;
  height: $user-img;
  pointer-events: all;
}
