$icon-size: 40px;
$user-img: 60px;

.icon {
  @include row;

  &__img {
    width: $icon-size;
    height: $icon-size;
  }

  &__text {
    font-size: $items-font-size;
  }
}

.user-img {
  border: $border;
  border-radius: $border-radius;
  width: $user-img;
  height: $user-img;
  pointer-events: all;
}
