$stream-font-size-author: 14px;
$stream-font-size-text: 16px;

.stream-comment {
  @include col;

  align-items: flex-start;
  margin-top: 10px;
  margin-bottom: 2rem;

  &__author {
    @include row;
    margin-bottom: 0.5rem;
  }

  &__author-photo {
    border: $border;
    border-radius: $border-radius;
    width: 40px;
    height: 40px;
  }

  &__author-name {
    font-size: $stream-font-size-author;
    display: flex;
    height: 100%;
    flex-direction: row;
    font-weight: 600;
    word-wrap: none;
    overflow: hidden;
    margin-left: 10px;
    padding: 5px 0;
  }

  &__text {
    font-size: $stream-font-size-text;

    margin-top: 5px;
  }
}