$tags-margin-bottom: 10px;

.tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: $tags-margin-bottom;

  &__tag {
    border: 2px solid transparent;
    border-radius: $border-radius;
    padding: $tag-padding;
    background: $color-sidebar;

    &_clicked {
      border: 2px solid $color-elements;
    }
  }
}