node_modules/
package-lock.json

public/components/*.pug.js
public/components/*/*.pug.js
public/components/*/*/*.pug.js
public/components/feed/previews/*.pug.js
public/components/_template/
public/flux/reducers/template.js

dist/

static/style/css/style.css
