$article-create-tag-margin-left: 10px;
$article-create-input-padding-vertical: 10px;
$article-create-input-padding: 10px 5px;

$article-row-margin: 25px 0;
$article-row-margin-vertical: 25px;
/* сверху | справа | снизу | слева */
// $article-row-btns-margin: 0 0 25px 0;
$article-labels-margin: 0 0 10px 0;

.article-create {
  @include col;

  padding: 0 10%;
  width: -webkit-fill-available;
  height: 100%;

  &__title {
    @include font-size-large;
    margin-bottom: 10px;
  }

  &__form {
    @include col;
    width: 100%;
    height: 100%;
  }

  &__stage-1 {
    width: 100%;
    height: -webkit-fill-available;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__stage-2 {
    width: 100%;
  }

  &__row-del-btn {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
  }

  &__add-tag {
    @include font-size-large;

    margin-left: $article-create-tag-margin-left;
    color: $color-elements;
    background-color: transparent;
    cursor: pointer;
  }

  &__input-tag {
    @include font-size-normal;

    border: $border;
    border-radius: $border-radius;
    padding: $article-create-input-padding;
    color: $color-primary;
    background-color: $color-elements;
  }

  &__row {
    @include row;
    flex-wrap: wrap;
    margin: $article-row-margin;
  }

  &__col {
    @include col;
  }

  &__row-text {
    @include row;
    flex-wrap: wrap;
    margin: $article-row-margin;
    justify-content: space-between;
    height: 100%;
  }

  &__field {
    margin-bottom: 10px;
    width: 100%;
  }

  &__label {
    @include font-size-big;
    justify-content: end;
    width: 100%;
    margin: $article-labels-margin;
  }

  &__input {
    width: 100%;
    @include font-size-normal;

    border: $border;
    border-radius: $border-radius;
    padding: $article-create-input-padding;
    width: -webkit-fill-available;
    color: $color-primary;
    background-color: $color-elements;
  }

  &__text {
    display: block;
    min-height: 24rem;
    height: calc(100% - 2*$article-create-input-padding-vertical - $article-row-margin-vertical);
  }

  &__btns-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    margin: $article-row-margin;
  }

  &__btns-row-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin: $article-row-margin;
  }

  &__btn-group {
    display: flex;
    flex-wrap: nowrap;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__category_selector {
    @include col;

    width: 100%;
  }

  &__preview {
    width: 100%;

    &__title {
      @include font-size-normal;

      margin: 10px 0;
    }

    &__card {
      @include col;
      @include card-padding;

      flex-grow: 1;
      justify-content: space-between;
      border: $border;
      min-height: $card-min-height;
      background-position: center center;
    }
  }
}