$article-create-title-font-size: 36px;
$article-create-add-tag-font-size: 48px;
$article-create-title-margin: 30px 0;
$article-create-tag-font-size: 16px;
$article-create-tag-margin-left: 10px;
$article-create-label-margin-right: 10px;
$article-create-label-font-size: 24px;
$article-create-input-padding: 10px;
$article-create-trash-height: 40px;

.article-create {
  @include col;

  width: 80%;

  &__title {
    margin: $article-create-title-margin;
    font-size: $article-create-title-font-size;
  }

  &__form {
    @include col;

    width: 100%;
  }

  &__rows {
    @include col;

    width: 100%;
  }

  &__row-del-btn {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
  }

  &__del-btn {
    display: flex;
  }

  &__add-tag {
    margin-left: $article-create-tag-margin-left;
    font-size: $article-create-add-tag-font-size;
    color: $color-elements;
    background-color: transparent;
    cursor: pointer;
  }

  &__input-tag {
    border: $border;
    border-radius: $border-radius;
    padding: $article-create-input-padding;
    font-size: $article-create-tag-font-size;
    color: $color-primary;
    background-color: $color-elements;
  }

  &__row {
    @include col;

    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  &__field {
    margin-bottom: 10px;
    width: 100%;
  }

  &__input {
    border: $border;
    border-radius: $border-radius;
    padding: 10px;
    width: 100%;
    font-size: 18px;
    color: $color-primary;
    background-color: $color-elements;
  }

  &__label {
    justify-content: end;
    margin-right: $article-create-label-margin-right;
    width: 20%;
    font-size: $article-create-label-font-size;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__tags-actions {
    display: flex;
    align-items: center;
    margin: 10px 0;
  }

  &__tag::before {
    content: "";
    position: absolute;
    width: 100%;
    height: $article-create-trash-height;
    background: $img-icon-trash no-repeat;

    &:hover {
      background: $img-icon-trash-hover no-repeat;
    }
  }

  &__right {
    @include right;
  }
}