$article-create-add-tag-font-size: 48px;
$article-create-tag-font-size: 16px;
$article-create-tag-margin-left: 10px;
$article-create-label-margin-top: 10px;
$article-create-label-font-size: 24px;
$article-create-input-padding: 10px;
$article-create-trash-height: 40px;

.article-create {
  @include col;

  padding: 0 10%;
  width: -webkit-fill-available;

  &__title {
    @include font-size-large;

    margin-bottom: 10px;
  }

  &__form {
    @include col;

    width: 100%;
  }

  &__rows {
    @include col;

    width: 100%;
  }

  &__row-del-btn {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    margin-bottom: 10px;
    width: 100%;
  }

  &__add-tag {
    @include font-size-large;

    margin-left: $article-create-tag-margin-left;
    color: $color-elements;
    background-color: transparent;
    cursor: pointer;
  }

  &__input-tag {
    @include font-size-normal;

    border: $border;
    border-radius: $border-radius;
    padding: $article-create-input-padding;
    color: $color-primary;
    background-color: $color-elements;
  }

  &__row {
    @include col;

    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  &__field {
    margin-bottom: 10px;
    width: 100%;
  }

  &__input {
    @include font-size-normal;

    margin-top: $article-create-label-margin-top;
    border: $border;
    border-radius: $border-radius;
    padding: 10px 5px;
    width: -webkit-fill-available;
    color: $color-primary;
    background-color: $color-elements;
  }

  &__text {
    min-height: 24rem;
  }

  &__label {
    @include font-size-normal;

    justify-content: end;
    width: 100%;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__tags-actions {
    display: flex;
    align-items: center;
    margin-top: $article-create-label-margin-top;
  }

  &__right {
    @include right;
  }

  &__category_selector {
    @include col;

    width: 100%;
  }

  &__preview {
    width: 100%;

    &__title {
      @include font-size-normal;

      margin: 10px 0;
    }

    &__card {
      @include col;
      @include card-padding;

      flex-grow: 1;
      justify-content: space-between;
      border: $border;
      min-height: $card-min-height;
      background-position: center center;
    }
  }
}