$categories-margin: 20px;

.categories {
  @include col;

  width: 50%;

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  &__title {
    @include font-size-large;
  }

  &__search {
    @include row;

    justify-content: center;
    width: 100%;
  }

  &__search-input {
    @include font-size-normal;

    margin-right: 10px;
    border: $border;
    border-radius: $border-radius;
    padding: 5px 10px;
    width: 80%;
    height: 100%;
    color: $color-primary;
    background-color: $color-elements;
  }

  &__search-block {
    @include col;

    margin: $categories-margin 0;
    width: 100%;
  }

  &__choosen {
    border: 2px solid $color-elements;
  }

  &__mark {
    color: $color-elements;
  }

  &__choose-bar {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    overflow-y: scroll;
    margin-bottom: $categories-margin;
    border: $border;
    border-radius: $border-radius;
    width: 100%;
    height: 80px;
    background-color: $color-elements;
  }
}