.feed {
  @include col;

  width: 100%;

  &__preview {
    @include col;

    width: 100%;
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  &::-webkit-scrollbar {
    width: 0;
  }
}