$profile-username-font-size: 30px;
$profile-aboutme-font-size: 18px;
$profile-photo-size: 160px;
$profile-info-margin: 40px;
$profile-description-margin: 0 40px;
$profile-username-margin-bottom: 15px;
$profile-articles-title-font-size: 36px;
$profile-articles-title-margin: 0 0 30px 40px;

.profile {
  @include col;

  align-items: flex-start;
  width: 100%;

  &__photo {
    border-radius: $border-radius;
    width: $profile-photo-size;
    height: $profile-photo-size;
    box-shadow: $box-shadow;
  }

  &__info {
    display: flex;
    justify-content: flex-start;
    margin: $profile-info-margin;
    width: 90%;
  }

  &__description {
    @include col;

    align-items: flex-start;
    margin: $profile-description-margin;
  }

  &__username {
    @include font-size-normal;

    margin-bottom: $profile-username-margin-bottom;
  }

  &__aboutme {
    @include font-size-small;

    font-weight: $font-thin;
  }

  &__articles-title {
    @include font-size-large;

    margin: $profile-articles-title-margin;
  }
}