$settings-title-font-size: 36px;
$settings-label-font-size: 24px;
$settings-input-font-size: 24px;
$settings-other-page-font-size: 18px;
$settings-input-padding: 10px;
$settings-other-page-margin-bottom: 20px;
$settings-label-margin-right: 10px;
$settings-btn-save-margin-right: 10px;
$settings-title-margin-top: 50px;
$settings-title-margin-bottom: 30px;
$settings-row-margin-bottom: 20px;

.settings {
  @include col;

  width: 80%;

  &__title {
    @include font-size-large;

    margin-top: $settings-title-margin-top;
    margin-bottom: $settings-title-margin-bottom;
  }

  &__photo {
    @media (max-width: 400px) {
      width: 150px;
      height: 150px;  
    }
    width: 300px;
    height: 300px;
    border: $border;
    border-radius: $border-radius;
    pointer-events: all;
    background-position: center center;
    background-repeat: no-repeat;
  }

  &__links {
    @include right;
  }

  &__other-page {
    @include font-size-normal;

    margin-bottom: $settings-other-page-margin-bottom;

    &:hover {
      text-decoration: underline;
    }
  }

  &__warning {
    @include font-size-normal;

    display: none;
    border: 2px solid $color-secondary;
    border-radius: $border-radius;
    padding: $settings-input-padding;
    width: 100%;
    box-shadow: 0 0 25px $color-warning;
    hyphens: auto;
    color: $color-warning;
    background-color: $color-elements;
  }

  &__form {
    @include col;

    width: 100%;
  }

  &__rows {
    @include col;

    width: 100%;
  }

  &__row {
    display: flex;
    margin-bottom: $settings-row-margin-bottom;
    width: 100%;
  }

  &__elem {
    display: flex;
    flex-wrap: nowrap;
    box-sizing: border-box;
    white-space: nowrap;
    text-align: center;
  }

  &__field {
    width: 80%;
  }

  &__label {
    @include font-size-normal;

    justify-content: end;
    margin-right: $settings-label-margin-right;
    width: 20%;

    &-photo {
      @extend .settings__label;
      @media (max-width: 400px) {
        display: none;
      }
    }
  }

  &__input {
    @include font-size-normal;

    border: $border;
    border-radius: $border-radius;
    padding: $settings-input-padding;
    width: 100%;
    color: $color-primary;
    background-color: $color-elements;

    &:hover {
      border: 2px solid $color-secondary;
      box-shadow: 0 0 15px $color-secondary;
    }
  }

  &__btn-save {
    margin-right: $settings-btn-save-margin-right;
  }

  &__footer {
    @include right;
  }
}