.content {
    height: 100%;
    width: calc(1440px - 250px);
    /* margin-top: 148px; */
    margin-left: 250px;
    color: white;
    /* background-color: white; */
}

.content .preview-block {
    min-height: 340px;
    width: 1120px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    background-image: 
        linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)),   
        url("../img/preview-example.jpg");
        background-size: cover;
    background-size: cover;
    justify-content: space-between;
}

.content .top-content-text {
    font-size: 100px;
    line-height: 117px;
}

.content .preview-block .arrow {
    width: 30px;
    height: 30px;
}

.content .preview-block .arrow-left {
    margin-left: 40px;
}

.content .preview-block .arrow-right {
    margin-right: 40px;
}

.card {
    padding: 10px 0px;
    width: 1120px;
    margin-top: 20px;
    background: #FFFFFF;
    box-shadow: 2px -2px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px 50px 10px 10px;
}

.card .card-photo {
    padding: 10px 20px;
    justify-content: center;
    width: 380px;
    height: 100%;
    background: #CCD1FF;
    border-radius: 10px 0px 0px 10px;
}

.card .card-photo img {
    max-width: 350px;
}

.card .card-content {
    height: 100%;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 40px;
}

.card .card-tag {
    padding: 5px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #6E798C;
}

.card .card-text {
    width: 580px;
}

.card .card-header {
    font-family: 'DM Serif Display', serif;
    font-size: 40px;
    color: #081F32;
}

.card .card-description {
    margin: 10px 0 40px;
    font-family: Open Sans;
    font-size: 18px;
    line-height: 27px;
    color: #374A59;
}

.card .card-bottom {
    width: 100%;
    justify-content: space-between;
}

.card .card-user .card-user-photo {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background-image: url("../img/loader-2-Flourish.gif");
    background-size: cover;
    border-radius: 50%;
}

.card .card-user .card-username {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #3F51B5;
}

.card .card-buttons {
    display: table;
    color: black;
    border-spacing: 10px;
}

.card .card-buttons a {
    display: table-cell;
    vertical-align: middle;
    background-size: cover;
    text-align: center;
    height: 39px;
}

.card .comment-icon {
    width: 48px;
    background-image: url("../img/comment.png"); 
}

.card .like-icon {
    width: 41px;
    background-image: url("../img/like.png"); 
}

.card .share-icon {
    width: 37px;
    background-image: url("../img/share.png"); 
}