@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

html, body, main {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E3E6FF;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

button { 
    border-radius: 10px;
    border-style: none;
}

.m-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
}

.arrow-left {
    transform: rotate(135deg);
}

.arrow-right{
    transform: rotate(-45deg);
}

.arrow-top {
    transform: rotate(-135deg);
}

.arrow-down {
    transform: rotate(45deg);
}