@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

:root {
  --color-primary: #CCD1FF;
  --color-secondary: #3f51b5;
  --color-backround: #E3E6FF;
  --color-elements: #5E6FD0;

  --anchors-color: #5E6FD0;

  --tooltip-color: rgb(115, 53, 151);

  --size-header: 80px;

  --modal-bg: #CCD1FF;
  --modal-border-color: rgba(131, 55, 139, 0.226);
  
  --modal-main-color: rgb(115, 53, 151);
  --modal-second-color: rgb(213, 122, 223);

  --modal-main-text-color: #121212;
  --modal-second-text-color: #ccc;

  --modal-bg-overlay: rgba(45, 13, 54, 0.616);
  --modal-bg-animation-start: rgba(45, 13, 54, 0);
  --modal-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  --animation-start-pos: -1000px;
}

a {
  display: block;
  color: var(--anchors-color);
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #E3E6FF;
} 

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.col {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

button { 
    border-radius: 10px;
    border-style: none;
}

.m-10 {
    margin-right: 10px;
    margin-left: 10px;
}

.arrow {
    border: solid black;
    border-width: 0 7px 7px 0;
    display: inline-block;
    padding: 7px;
}

.arrow-left {
    transform: rotate(135deg);
}

.arrow-right{
    transform: rotate(-45deg);
}

.arrow-top {
    transform: rotate(-135deg);
}

.arrow-down {
    transform: rotate(45deg);
}