@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&family=Vollkorn:ital,wght@1,700&display=swap");
button {
  border-style: none;
  border-radius: 10px;
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: #dee4ea;
}

input,
input:active,
input:hover,
input:focus {
  outline: none;
  border: 2px solid #151414;
  -webkit-box-shadow: none;
          box-shadow: none;
}

textarea,
textarea:active,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: #151414;
  -webkit-box-shadow: none;
          box-shadow: none;
}

html,
body,
.background,
#root,
.view {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: #dee4ea;
  cursor: default;
}

.background {
  padding-top: 30px;
  background: url("../../img/background-img.png") bottom;
  background-size: 100%;
}

.screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  width: 1440px;
  height: 100%;
  -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
          box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.25);
  background-color: #151414;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: scroll;
  width: 100%;
  background-color: #151414;
}

.content::-webkit-scrollbar {
  width: 0;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 75px;
  font-family: "Roboto", sans-serif;
  background-color: #151414;
}

.header__nav-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 1;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.header__nav-item {
  padding: calc((75px - 20px - 5px) / 2) 10px;
  font-size: 20px;
  text-align: center;
}

.header__nav-item_active {
  border-bottom: 2px solid #354580;
}

.header__nav-item:hover {
  background-color: #354580;
}

.header__title {
  margin: auto 10px;
  font-size: 36px;
}

.header__title-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.header__content {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  background-color: #313030;
}

.sidebar__nav-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  background-color: #354580;
}

.sidebar__item {
  padding-top: 20px;
  padding-left: 20px;
  cursor: default;
}

.sidebar__categories {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar__categories-title {
  font-size: 36px;
}

.sidebar__categories-item {
  font-size: 24px;
  cursor: pointer;
}

.sidebar__categories-item:hover {
  text-decoration: underline;
}

.sidebar__nav-item {
  padding: calc((75px - 20px - 5px) / 2) 10px;
  font-size: 20px;
  text-align: center;
}

.sidebar__nav-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

.sidebar__bottom {
  position: relative;
  bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.sidebar__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.sidebar-bottom_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
  margin-bottom: 50px;
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.contacts__title {
  font-size: 36px;
  cursor: default;
}

.contacts__developer {
  font-size: 20px;
  cursor: pointer;
}

.contacts__developer:hover {
  text-decoration: underline;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #151414;
  padding: 30px;
  min-height: 300px;
}

.card__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.card__tag {
  font-size: 14px;
}

.card__title {
  margin-bottom: 30px;
  font-size: 36px;
  text-align: center;
}

.card__description {
  font-weight: 300;
  font-size: 18px;
}

.card__content {
  width: 100%;
}

.card__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 60px;
  width: 90%;
  min-height: 400px;
  font-weight: 300;
}

.preview__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.preview__title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 48px;
}

.preview__content {
  width: 100%;
}

.preview__description {
  font-size: 18px;
}

.preview__tag {
  font-size: 14px;
  cursor: pointer;
}

.user-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 100%;
}

.user-preview__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 100%;
  min-width: 180px;
}

.user-preview__user-img {
  margin: 5px;
}

.user-preview:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.user-preview:hover .profile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.profile-menu {
  position: absolute;
  top: 75px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  -webkit-box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
          box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
  background-color: #dee4ea;
}

.profile-menu__item {
  padding: 10px;
  font-size: 30px;
  color: #151414;
  cursor: pointer;
}

.profile-menu__item:hover {
  color: #354580;
}

.profile-menu__item:active {
  text-decoration: underline;
}

.modal__overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.7);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__window {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 5;
  padding: 70px;
  background-color: #151414;
  opacity: 0;
  -webkit-filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));
  -webkit-transform: translate(-50%, -50%) scale(2);
          transform: translate(-50%, -50%) scale(2);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__header {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 72px;
  text-align: center;
}

.modal__close-btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url("../../img/icons/cross.svg");
  background-size: cover;
  cursor: pointer;
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__btn-ok {
  background-color: red;
}

.modal__btn {
  background-color: red;
}

.modal__btn-cancel {
  background-color: red;
}

.modal_open {
  display: block;
  opacity: 1;
  visibility: visible;
}

.modal_open .modal__window {
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}

.action-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.action-btns_m-right {
  margin-right: 15px;
}

.action-btns__likes-icon {
  background: url("../../img/icons/like.svg");
  background-size: cover;
}

.action-btns__likes-icon:hover {
  background-image: url("../../img/icons/like_hover.svg");
}

.action-btns__comments-icon {
  background: url("../../img/icons/comment.svg");
  background-size: cover;
}

.action-btns__comments-icon:hover {
  background-image: url("../../img/icons/comment_hover.svg");
}

.action-btns__share-icon {
  background: url("../../img/icons/share.svg");
  background-size: cover;
}

.action-btns__share-icon:hover {
  background-image: url("../../img/icons/share_hover.svg");
}

.action-btns__trash-icon {
  background: url("../../img/icons/share.svg");
  background-size: cover;
}

.action-btns__trash-icon:hover {
  background-image: url("../../img/icons/share_hover.svg");
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon__img {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.icon__text {
  font-size: 24px;
}

.icon-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icon-small__img {
  width: 25px;
  height: 25px;
  background-size: cover;
  cursor: pointer;
}

.icon-small__text {
  font-size: 20px;
}

.user-img {
  border: 2px solid #151414;
  border-radius: 5px;
  width: 60px;
  height: 60px;
  pointer-events: all;
}

.search {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  height: 100%;
}

.search__button {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  margin: auto;
  border-radius: 5px;
  width: 50px;
  height: 50px;
  background: #151414;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.search__button_search-icon::before {
  content: "";
  position: absolute;
  left: 22px;
  right: 0;
  top: 22px;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 2px;
  background: #dee4ea;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search__button_search-icon::after {
  content: "";
  position: absolute;
  left: -5px;
  right: 0;
  top: -5px;
  bottom: 0;
  margin: auto;
  border: 2px solid #dee4ea;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.search__button_cross-icon {
  background: #dee4ea;
}

.search__button_cross-icon::before {
  content: "";
  position: absolute;
  left: 22px;
  right: 0;
  top: 22px;
  bottom: 0;
  margin: auto;
  width: 12px;
  height: 2px;
  background: #dee4ea;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 0;
  top: 0;
  width: 25px;
  background: #151414;
}

.search__button_cross-icon::after {
  content: "";
  position: absolute;
  left: -5px;
  right: 0;
  top: -5px;
  bottom: 0;
  margin: auto;
  border: 2px solid #dee4ea;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  left: 0;
  top: 0;
  border: none;
  border-radius: 0%;
  width: 25px;
  height: 2px;
  background: #151414;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.search__button:hover {
  cursor: pointer;
}

.search__input {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 4;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0;
  padding-left: 20px;
  height: 50px;
  -webkit-box-shadow: 0 0 25px 0 #354580, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 25px 0 #354580, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-size: 24px;
  letter-spacing: 0.1em;
  text-shadow: 0 0 10px #354580;
  color: #dee4ea;
  background: #354580;
  opacity: 0;
  -webkit-transition: all 1s;
  transition: all 1s;
}

.search__input_open {
  left: 0;
  width: calc(100% - 20px - 20px);
  opacity: 1;
  cursor: text;
}

.search__input_close {
  left: calc(100% - 65px - 20px);
  width: 0;
  opacity: 0;
  cursor: auto;
}

.search__input::-webkit-input-placeholder {
  color: #dee4ea;
  opacity: 0.5;
}

.search__input:-ms-input-placeholder {
  color: #dee4ea;
  opacity: 0.5;
}

.search__input::-ms-input-placeholder {
  color: #dee4ea;
  opacity: 0.5;
}

.search__input::placeholder {
  color: #dee4ea;
  opacity: 0.5;
}

.search__input:hover {
  cursor: pointer;
}

.search:focus {
  left: 0;
  z-index: 3;
  width: calc(100% - 20px);
}

.btn-more {
  font-weight: 300;
  font-size: 24px;
  cursor: pointer;
}

.btn-more:hover {
  text-decoration: underline;
}

.btn_color-elementary {
  border-radius: 5px;
  padding: 10px 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  color: #dee4ea;
  background-color: #354580;
}

.btn_color-elementary:hover {
  opacity: 0.5;
}

.btn_color-elementary:active {
  border-color: #dee4ea;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.form__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 15px 0;
  width: 100%;
}

.form__input {
  border: 2px solid #151414;
  border-radius: 5px;
  padding: 10px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  font-size: 24px;
  color: #151414;
  background-color: #dee4ea;
}

.form__submit-btn {
  border-radius: 5px;
  padding: 10px 40px;
  width: 100%;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  font-size: 36px;
  color: #151414;
  background-color: #dee4ea;
  cursor: pointer;
}

.form__field {
  width: 100%;
}

.form__warning {
  display: none;
  font-size: 30px;
  color: #354580;
}

.form__label {
  margin-right: 10px;
  font-size: 30px;
}

.password__control-btn {
  position: absolute;
  right: 10px;
  top: 52px;
  display: inline-block;
  width: 24px;
  height: 24px;
  background: url("../../img/icons/eye-closed.svg") 0 0 no-repeat;
  cursor: pointer;
}

.password__show {
  background: url("../../img/icons/eye-open.svg") 0 0 no-repeat;
}

.tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-bottom: 10px;
}

.tags__tag {
  margin-left: 5px;
  border-radius: 5px;
  padding: 5px;
  background: #313030;
}

.loading-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.loading-page__title {
  position: absolute;
  top: 40%;
  font-size: 96px;
}

#feed__loading {
  position: relative;
  margin-top: 10px;
  margin-bottom: 50px;
  border: 2px solid #dee4ea;
  border-bottom: 2px solid #354580;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: loader 3s linear infinite;
          animation: loader 3s linear infinite;
}

#feed__loading::before {
  content: "";
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  border: 2px solid #dee4ea;
  border-bottom: 2px solid #354580;
  border-radius: 50%;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: loader 2s linear infinite;
          animation: loader 2s linear infinite;
}

#feed__loading::after {
  content: "";
  position: absolute;
  left: 22px;
  right: 22px;
  top: 22px;
  bottom: 22px;
  border: 2px solid #dee4ea;
  border-bottom: 2px solid #354580;
  border-radius: 50%;
  -webkit-box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.2);
  -webkit-animation: loader 1s linear infinite;
          animation: loader 1s linear infinite;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.comments {
  margin-bottom: 100px;
}

.comments__input {
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  font-size: 24px;
  background-color: #dee4ea;
}

.comments__comment {
  margin-top: 25px;
}

.comment__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.comment__author-photo {
  border: 1px solid #dee4ea;
  border-radius: 5px;
  width: 60px;
  height: 60px;
}

.comment__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 20px;
}

.comment__author-name {
  font-weight: 400;
  font-size: 24px;
}

.comment__text {
  font-size: 18px;
}

.comment__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.comment__answer-btn {
  font-size: 18px;
  cursor: pointer;
}

.comment__answer-btn:hover {
  color: #354580;
}

.comment__time {
  font-size: 18px;
}

.article-create {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.article-create__title {
  margin: 30px 0;
  font-size: 36px;
}

.article-create__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.article-create__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.article-create__add-tag {
  margin-left: 10px;
  font-size: 48px;
  cursor: pointer;
}

.article-create__input-tag {
  margin-left: 10px;
  border: 2px solid #151414;
  border-radius: 5px;
  padding: 10px;
  width: 150px;
  font-size: 16px;
  color: #151414;
  background-color: #dee4ea;
}

.article-create__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-height: 40px;
}

.article-create__label {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 10px;
  width: 20%;
  font-size: 24px;
}

.article-create__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.article-create__tag::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40px;
  background: url("../../img/icons/trash.svg") no-repeat;
}

.article-create__tag::before:hover {
  background: url("../../img/icons/trash_hover.svg") no-repeat;
}

.article-create__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.article-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 25px;
  width: 100%;
  min-height: 450px;
  font-weight: 300;
}

.article-view__content {
  width: 90%;
}

.article-view__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.article-view__back-btn {
  font-size: 18px;
  cursor: pointer;
}

.article-view__back-btn:hover {
  color: #354580;
}

.article-view__title {
  margin-bottom: 15px;
  font-weight: 400;
  font-size: 48px;
}

.article-view__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article-view__main-picture {
  margin: 15px 0;
  width: 100%;
}

.article-view__text {
  margin-bottom: 20px;
  font-size: 18px;
}

.article-view__tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-view__tag {
  margin-right: 15px;
  font-size: 24px;
}

.article-view__tag:hover {
  color: #354580;
}

.article-view__author-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.article-view__author {
  margin-right: 15px;
  font-size: 18px;
}

.article-view__time {
  font-size: 18px;
}

.feed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.feed__preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url("../../img/cards/home-office-336377_1920.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../img/cards/home-office-336377_1920.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  width: 100%;
}

.feed__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  width: 100%;
}

.feed::-webkit-scrollbar {
  width: 0;
}

.author-time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  min-width: 20%;
}

.author-time__author-name {
  margin-bottom: 5px;
  margin-left: 20px;
  font-size: 18px;
}

.author-time__time {
  font-size: 14px;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
}

.settings__title {
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 36px;
}

.settings__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.settings__other-page {
  margin-bottom: 20px;
  font-size: 18px;
}

.settings__other-page:hover {
  text-decoration: underline;
}

.settings__warning {
  display: none;
}

.settings__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.settings__rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.settings__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
  width: 100%;
}

.settings__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: nowrap;
  text-align: center;
}

.settings__field {
  width: 80%;
}

.settings__label {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-right: 10px;
  width: 20%;
  font-size: 24px;
}

.settings__input {
  border: 2px solid #151414;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: 24px;
  color: #151414;
  background-color: #dee4ea;
}

.settings__btn-save {
  margin-right: 10px;
}

.settings__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  width: 100%;
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
}

.profile__photo {
  border: 1px solid #dee4ea;
  border-radius: 5px;
  width: 160px;
  height: 160px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.profile__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 40px;
  width: 90%;
}

.profile__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 40px;
}

.profile__username {
  margin-bottom: 15px;
  font-size: 30px;
}

.profile__aboutme {
  font-weight: 300;
  font-size: 18px;
}

.profile__articles-title {
  margin: 0 0 30px 40px;
  font-size: 36px;
}

.page-404 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.page-404__title {
  position: absolute;
  left: 50%;
  top: 50%;
  font-family: "Russo One", sans-serif;
  font-weight: 700;
  font-size: 360px;
  color: #dee4ea;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: fadein 0.8s ease-out 1.5s forwards;
          animation: fadein 0.8s ease-out 1.5s forwards;
}

.page-404__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: nowrap;
      flex-flow: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
}

.page-404__message {
  margin-bottom: 100px;
  font-family: "Vollkorn", serif;
  font-weight: 400;
  font-size: 48px;
  color: #dee4ea;
  opacity: 0;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-animation: slidedown 1s ease-out 0.5s forwards;
          animation: slidedown 1s ease-out 0.5s forwards;
}

.page-404__back-btn {
  display: inline-block;
  margin-top: 0;
  border-radius: 50px;
  padding: 20px 60px;
  font-family: "Vollkorn", serif;
  font-size: 28px;
  color: #151414;
  background-color: #dee4ea;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: 0.4s ease-out;
  transition: 0.4s ease-out;
  -webkit-animation: slideup 1s ease-out 0.5s forwards;
          animation: slideup 1s ease-out 0.5s forwards;
}

.page-404__back-btn:hover {
  margin-top: -20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
  color: #354580;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.2;
  }
}

@-webkit-keyframes slidedown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slidedown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-200px);
            transform: translateY(-200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes slideup {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
