- const id = Math.random() * 16

mixin avatarMixin()
  img(data-avatarId=`${id}` onerror=`
  const img = document.querySelector('img[data-avatarId="${id}"]');
  console.warn('не удалось загрузить аватар', img.src);
  img.src="img/user_icon_loading.svg";
  img.onerror = undefined;
  `)&attributes(attributes)