- const avatarId = Math.random() * 16

mixin avatarMixin()
  img(data-avatarId=`${avatarId}` onerror=`
  const img = <HTMLElement> document.querySelector('img[data-avatarId="${avatarId}"]');
  console.warn('не удалось загрузить аватар', img.src);
  img.src="img/user_icon_loading.svg";
  img.onerror = undefined;
  `)&attributes(attributes)