.article-view__add-comment.comment-answer-input
  //- навряд ли нужно 
  input(type="text" name="answer" placeholder=`${message || ''}`).article-view__comment-input
  button.action-btns__send-icon.icon__img.article-view__send-comment-btn