.article
  .article__title Создание статьи
  form.settings__form
    .settings__rows !{form_rows}
    .article__row
      .settings__label Теги
      .article__tags !{tags}
      input.settings__input.article__input-tag(type="text" name="tag")
      a(href='#').article__add-tag +
    .settings__footer
        input.settings__btn(type='submit' name='btn-submit' value='Создать')
