.article-view__add-comment
    img.article-view__author-photo(src=`${avatarUrl || 'static/img/users/user_icon_loading.svg'}`)
    input(type="text" name="comment" placeholder="Написать комментарий").article-view__comment-input
    button.action-btns__send-icon.icon__img.article-view__send-comment-btn