.card.row
      .card-photo.row
        img(src='../static/img/computer.png')
      .card-content.col
        .card-tags.row
          .card-tag IT-NEWS
          .card-tag Study
        .card-text.col
          .card-header 7 Skills of Highly Effective Programmers
          .card-description
            | Our team was inspired by the seven skills of highly effective programmers
            | created by the TechLead. We wanted to provide our own take on the topic.
            | Here are our seven skills of effective programmers...
        .card-bottom.row
          .card-user.row
            .card-user-photo
            .card-username Elon Musk
          .card-buttons.row
            .comment-icon 112
            .share-icon
            .like-icon 92