include categoryMixin

.plate
  .categories__search-block
    .categories__search
      input(type='text' id='categories-search' placeholder='фильтр').categories__search-input
  .categories__row
    if Array.isArray(categories)
      each category in categories
        +categoryMixin(category.content, category.color)