mixin categoryMixin(categoryContent, categoryColor)
  .category.cursor-pointer(onmouseover=`this.style.borderColor = "${categoryColor}";`, onmouseout='this.style.borderColor = "transparent";')
    .category__content(style = `color: ${categoryColor}; text-shadow: ${categoryColor} 0px 0px 10px`) #{categoryContent}