.categories
    .categories__title Поиск по тегам
    .categories__search
        input(type='text').categories__search-input
        button.action-btns__search-icon.icon__img
    .categories__tags !{tags}