.categories__title Поиск по категориям
.categories__search-block
    .categories__search
        input(type='text' id='categories-search').categories__search-input
        button.action-btns__search-icon.icon__img