.header
  a.header__title-block(href='/')
    .header__title(data-router='ignore') SaberNews
  .header__content
    .header__nav-items
      //- TODO: btn
      a.header__nav-item(href='/')
        .header__nav-item-sign(data-router='ignore') Новое
      a.header__nav-item(href='/categories')
        .header__nav-item-sign(data-router='ignore') Категории
    .header__right-block
      a.header__add-article-btn(href="/editor")
        .header__add-article-btn-sign(data-router="ignore")
          | Добавить
          br
          | запись
      .header__search-btn
        div(data-inplace='place-for-search')
      .header__search-btn-mobile-hideble
        button.action-btns__menu-icon.icon__img
