header
  .container
    .row
      #menu-icon.menu-icon
      img.company-name(src='../static/img/company-name.png')
      button.button-add-record.m-10 Новая запись
    .row
      button.button-search.row
        img(src='../static/img/search-icon.png')
        div Поиск
    .row#header-content !{content}