.header
  a.header__title-block(href='/')
    .header__title SaberNews
  .header__content
    .header__nav-items
      a(href="/").header__nav-item Популярное
      a(href="/").header__nav-item Новое
      a(href="/").header__nav-item Подписки
      a(href="/").header__nav-item Мероприятия
      a(href="/").header__nav-item Группы
      a(href="/").header__nav-item Трансляции
    .search
      input(type='text' placeholder='Найти').search__input.search__input_close
      a(data-section='search__button').search__button.search__button_search-icon
