.header
  a.header__title-block(href='/')
    .header__title(data-router='ignore') SaberNews
  .header__content
    .header__nav-items
      include nav-items.pug
    .search
      .search__row.search__row_close(style='transition: all 0.5s;')
        input(type='text' placeholder='Найти').search__input
        .search__row_group_dropdown
          input(type='text' placeholder='где?' readonly).search__row_group_bar
          .search__row_group_dropdown-content
            .search__row_group_dropdown-item(data-search="articles") Статьи
            .search__row_group_dropdown-item(data-search="author") Пользователи
            .search__row_group_dropdown-item(data-search="tags") Теги
        .search__row_btn
      button.search__button.search-icon
      button.action-btns__menu-icon.icon__img
