.header
  a.header__title-block(href='/')
    .header__title(data-router='ignore') SaberNews
  .header__content
    .header__nav-items
      a(data-test='test1').header__nav-item Популярное
      a(data-test='test2').header__nav-item Новое
      a.header__nav-item Подписки
      a.header__nav-item Мероприятия
      a.header__nav-item Группы
      a.header__nav-item Трансляции
    .search
      input(type='text' placeholder='Найти' style='transition: all 0.5s;').search__input.search__input_close
      button.search__button.search__button_search-icon
