include header.pug
main.container
  include sidebar.pug
  .content.col
    .preview-block.row
      .arrow.arrow-left(style='border-color:white')
      .top-content-text TOP NEWS_
      .arrow.arrow-right(style='border-color:white')
    include card.pug
    include card.pug
    include card.pug
    include card.pug
    
    
footer.container