.modal__overlay(data-modal-close='true')
    .modal__window
        .modal__header
            a.modal__close-btn.icon__img(data-modal-close='true')
        .modal__content !{content}
        .modal__footer !{footer_buttons}
            //- button.modal__btn-ok.modal__btn(type='button' data-modal-close='true' style='display: none;')
            //- button.modal__btn-cancel.modal__btn(type='button' data-modal-close='true' style='display: none;')