a(data-test='test1').header__nav-item Популярное
a(data-test='test2').header__nav-item Новое
a.header__nav-item Подписки
a.header__nav-item Мероприятия
a.header__nav-item Группы
//- a.header__nav-item Трансляции