.settings
    .settings__title Настройки пользователя
    .settings__links
        a.settings__other-page(href = `${other_page_href}`) #{other_page_name}
    form.settings__form
        .settings__rows !{form_rows}
          .settings__row
            .settings__label(id="settings-warning-label" style="color: transparent;") |
            .settings__field
              div.settings__input.settings__warning Поля заполнены неверно
        .settings__footer
            input.btn_color-secondary(type='submit' name='btn-submit' value='Сохранить')
            a(href='/')
              input.btn_color-secondary(data-router='ignore' type='button' value='Назад')