.sidebar
  .sidebar__nav-links
      a(href="/editor").sidebar__nav-item
          | Добавить  
          br
          | запись
      .sidebar__nav-buttons#sidebarTopBlockContent !{topBlockContent}
  .sidebar__content
      .sidebar__categories
          .sidebar__categories-title.sidebar__item Комментарии
          .sidebar__streams !{streams}
          .sidebar__categories-title.sidebar__item
            a(href='/categories') Категории
          .sidebar__categories-item.sidebar__item
            a(href='/categories') IT-Новости
          .sidebar__categories-item.sidebar__item
            a(href='/categories') UX-Дизайн
          .sidebar__categories-item.sidebar__item
            a(href='/categories') Разработка
          .sidebar__categories-item.sidebar__item
            a(href='/categories') Менеджмент
          .sidebar__categories-item.sidebar__item
            a(href='/categories') Наука
          .sidebar__categories-item.sidebar__item
             a(href='/categories') Маркетинг
          .sidebar__categories-item.sidebar__item
             a(href='/categories') Администрирование
          .sidebar__categories-item.sidebar__item
             a(href='/categories') Технологии
          .sidebar__categories-item.sidebar__item
             a(href='/categories') Митапы
          .sidebar__categories-item.sidebar__item
             a(href='/categories') IT-Конкурсы
          .sidebar__categories-item.sidebar__item
             a(href='/categories') Соцсети
          .sidebar__categories-more.sidebar__item
            button.action-btns__arrow-icon.icon-small__img.sidebar__categories-more-btn
            .sidebar__categories-more-text Показать ещё
      .sidebar-bottom_right
          .contacts
              .contacts__title Contacts
              a.contacts__developer Yurij-lyubskij
              a.contacts__developer Svetlanlka
              a.contacts__developer Denactive
              a.contacts__developer MollenAR