.sidebar
  .sidebar__nav-links
      a(href="#").sidebar__nav-item
          | Добавить  
          br
          | запись
      .sidebar__nav-buttons#sidebarTopBlockContent !{topBlockContent}
  .sidebar__content
      .sidebar__categories
          .sidebar__categories-title.sidebar__item Категории
          .sidebar__categories-item.sidebar__item IT-Новости
          .sidebar__categories-item.sidebar__item UX-Дизайн
          .sidebar__categories-item.sidebar__item Разработка
          .sidebar__categories-item.sidebar__item Менеджмент
          .sidebar__categories-item.sidebar__item Наука
          .sidebar__categories-item.sidebar__item Маркетинг
          .sidebar__categories-item.sidebar__item Администрирование
      .sidebar-bottom_right
          .contacts
              .contacts__title Contacts
              a.contacts__developer Denactive
              a.contacts__developer MollenAR
              a.contacts__developer Yurij-lyubskij
              a.contacts__developer Svetlanlka
              