#sidebar.sidebar.col
  .sidebar-menu
    mixin sidebar-item(title, img_href)
      .sidebar-item.row
        img(src='static/img/sidebar-icons/' + img_href)
        div=title

    +sidebar-item("Популярное", "star.png")
    +sidebar-item("Новое", "clock.png")
    +sidebar-item("Подписки", "subscribes.png")
    +sidebar-item("Мероприятия", "calendar.png")
    +sidebar-item("Группы", "group.png")
    +sidebar-item("Трансляции", "camera.png")
    
    .sidebar-line

    +sidebar-item("IT-Новости", "question.png")
    +sidebar-item("UX-Дизайн", "question.png")
    +sidebar-item("Финансы", "question.png")
    +sidebar-item("Техника", "question.png")
    +sidebar-item("Медиа", "question.png")
    +sidebar-item("Торговля", "question.png")