form.modal__form.form
    .form__rows !{form_rows}
    .form__warning Поля заполнены неверно
    .form__row
        input.form__submit-btn(type='submit' name='btn-submit' value=`${submit_btn_placeholder}`)