form
  .form__block
    .form__rows !{form_rows}
  .form__block
    .form__row
      .form__label(style="color: transparent;") |
      input.form__input.form__submit-btn(type='submit' name='btn-submit' value=`${submit_btn_placeholder}`)
    .form__row
      .form__label(id="form-warning-label" style="color: transparent;") |
      div.form__input.form__warning Поля заполнены неверно