.tags__tag-content
  if (cross)
    .tags__tag.tags_with-cross(style = `background-color: ${color}`) !{content}
    .tags__tag__del-btn.cross-icon
  else
    .tags__tag(style = `background-color: ${color}`) !{content}