a.sidebar__nav-item(data-section='user-settings-window') #{name}
a.sidebar__nav-item
    img.user-img(src=`${img}`)
.profile-menu
    a.profile-menu__item(href=`${url}` data-section='user-settings') Настройки
    a.profile-menu__item(href='#') Выйти