@media (min-width: 901px) {
  .sidebar {
    display: flex;
  }
}

@media (max-width: 900px) {
  .action-btns__menu-icon {
    display: block;
  }

  .background {
    padding-top: 0;
  }
}

@media (max-width: 450px) {
  .card__time {
    display: none;
  }

  .tags__tag {
    padding: 2px;
  }
}