button {
  border-style: none;
  border-radius: 10px;
  background-color: transparent;

  &:hover {
    background-color: transparent;
  }
}

a,
a:active,
a:hover {
  text-decoration: none;
  color: $color-elements;
}

input,
input:active,
input:hover,
input:focus {
  outline: none;
  border: $border;
  box-shadow: none;
}

textarea,
textarea:active,
textarea:hover,
textarea:focus {
  outline: none;
  border-color: $color-primary;
  box-shadow: none;
}
