$color-primary: #151414;
$color-secondary: #354580;
$color-sidebar: #313030;
$color-elements: #dee4ea;
$color-warning: #bb1717;
$color-selection: rgba(0, 0, 0, 0.2);

// ///////////////////////////////// //
//
//               Fonts
//
// ///////////////////////////////// //
$font-primary: "Roboto", sans-serif;
$font-secondary: "Roboto", sans-serif;
$font-logo: "Signika Negative", sans-serif;
$font-thin: 300;
$font-thick: 400;
@mixin font-size-small() {
  @media (min-width: 901px) {
    font-size: 1rem;
  }
  @media (max-width: 900px) {
    font-size: 0.7rem;
  }
}
@mixin font-size-normal() {
  @media (min-width: 901px) {
    font-size: 1.5rem;
  }
  @media (max-width: 900px) {
    font-size: 1rem;
  }
}
@mixin font-size-big() {
  @media (min-width: 901px) {
    font-size: 2rem;
  }
  @media (max-width: 900px) {
    font-size: 1.4rem;
  }
}
@mixin font-size-large() {
  @media (min-width: 901px) {
    font-size: 2.5rem;
  }
  @media (max-width: 900px) {
    font-size: 1.75rem;
  }
}
@mixin font-size-extreme() {
  @media (min-width: 901px) {
    font-size: 3rem;
  }
  @media (max-width: 900px) {
    font-size: 2rem;
  }
}
@mixin font-size-small() {
  @media (min-width: 901px) {
    font-size: 1rem;
  }
  @media (max-width: 900px) {
    font-size: 0.7rem;
  }
}

// ///////////////////////////////// //
//
//         Main Blocks Layout
//
// ///////////////////////////////// //

@mixin mobile-display-none() {
  @media (min-width: 901px) {
    display: flex;
  }
  @media (max-width: 900px) {
    display: none;
  }
}

@mixin mobile-display-only() {
  @media (min-width: 901px) {
    display: none;
  }
  @media (max-width: 900px) {
    display: flex;
  }
}

$page-top: 30px;
$screen-width: 1440px;
$border-radius: 5px;
$border: 2px solid $color-primary;
$box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
$button-opacity: 0.5;



// ///////////////////////////////// //
//
//           Images & Icons
//
// ///////////////////////////////// //
@mixin icon() {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin icon-size() {
  @media (min-width: 901px) {
    width: 40px;
    height: 40px;
  }
  @media (max-width: 900px) {
    width: 30px;
    height: 30px;
  }
}

@mixin icon-size-small() {
  @media (min-width: 901px) {
    width: 25px;
    height: 25px;
  }
  @media (max-width: 450px) {
    width: 20px;
    height: 20px;
  }
}

$img-bg: url("Static/img/background-img.png");
$img-bg-space: url("Static/img/background-space.png");
$img-bg2: url("Static/img/background-img.png");
$img-icon-close: url("Static/img/icons/cross.svg");
$img-icon-eye-closed: url("Static/img/icons/eye-closed.svg");
$img-icon-eye-open: url("Static/img/icons/eye-open.svg");
$img-key: url("Static/img/icons/key.svg");
$img-mail: url("Static/img/icons/mail.svg");
$img-username: url("Static/img/icons/username.svg");
$img-icon-like: url("Static/img/icons/like.svg");
$img-icon-like-hover: url("Static/img/icons/like_hover.svg");
$img-icon-comments: url("Static/img/icons/comment.svg");
$img-icon-comments-hover: url("Static/img/icons/comment_hover.svg");
$img-icon-share: url("Static/img/icons/share.svg");
$img-icon-share-hover: url("Static/img/icons/share_hover.svg");
$img-icon-trash: url("Static/img/icons/trash.svg");
$img-icon-trash-hover: url("Static/img/icons/trash_hover.svg");
$img-icon-search: url("Static/img/icons/search.svg");
$img-icon-search-hover: url("Static/img/icons/search_hover.svg");
$img-icon-arrow: url("Static/img/icons/arrow.svg");
$img-icon-send: url("Static/img/icons/send.svg");
$img-icon-menu: url("Static/img/icons/menu.svg");