@mixin card-padding() {
  @media (min-width: 901px) {
    padding: 2rem;
  }
  @media (max-width: 900px) {
    padding: 0.5rem;
  }
}

@mixin card-author-icon-size() {
  @media (min-width: 901px) {
    width: 50px;
    height: 50px;
  }
  @media (max-width: 900px) {
    width: 30px;
    height: 30px;
  }
}

@mixin card-inline-margin-horizontal {
  margin-right: 20px;
}
$card-min-height: 300px;
$card-title-margin-bottom: 30px;
$tag-margin-right: 5px;

.card {
  @include col;

  flex-grow: 1;
  justify-content: space-between;
  border: $border;
  @include card-padding;
  min-height: $card-min-height;
  background-position: center center; 

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  &__tag {
    margin-right: $tag-margin-right;
    @include font-size-small;
  }

  &__title {
    margin-bottom: $card-title-margin-bottom;
    @include font-size-large;
    text-align: center;
  }

  &__description {
    font-weight: $font-thin;
    @include font-size-normal;
    margin-top: 15px;
  }

  &__content {
    width: 100%;
  }

  &__bottom {
    @include row;

    justify-content: flex-end;
    width: 100%;
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__author-photo {
    margin-right: 10px;
    @include card-author-icon-size;
  }

  &__time-category {
    display: flex;
    margin-bottom: 5px;
  }

  &__time {
    @include card-inline-margin-horizontal;
    @include font-size-normal;
  }

  &__category {
    font-weight: $font-thick;
    @include font-size-normal;
    white-space: nowrap;
    text-shadow: 0 0 10px $color-elements;
  }

  &:hover {
    transform: translateY(-20px);
    transition: transform 0.5s ease, -webkit-transform 0.5s ease, -moz-transform 0.5s ease;
    cursor: pointer;
  }
}

.author-name {
  @include col;

  align-items: flex-start;
  min-width: 20%;

  &__username {
    @include font-size-small;
  }

  &__login {
    @include font-size-normal;
  }
}