@mixin card-padding() {
  @media (min-width: 901px) {
    padding: 2rem;
  }

  @media (max-width: 900px) {
    padding: 0.5rem;
  }
}

@mixin card-author-icon-size() {
  @media (min-width: 901px) {
    width: 50px;
    height: 50px;
  }

  @media (max-width: 900px) {
    width: 30px;
    height: 30px;
  }
}

$card-min-height: 300px;
$card-element-margin-bottom: 15px;
$card-title-margin-extra: 10px 0 calc(10px + $card-element-margin-bottom);
$card-top-margin-bottom: calc($card-element-margin-bottom - $tag-margin-bottom);

.card {
  @include col;
  @include card-padding;

  flex-grow: 1;
  align-items: flex-start;
  justify-content: space-between;
  border: $border;
  min-height: $card-min-height;
  background-position: center center;

  &__top {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: $card-top-margin-bottom;
    width: 100%;
  }

  &__title {
    @include title;

    margin: $card-title-margin-extra;
  }

  &__description {
    @include font-size-normal;

    margin-bottom: $card-element-margin-bottom;
    font-weight: $font-thin;
  }

  &__bottom {
    @include row;

    justify-content: flex-end;
    width: 100%;
  }

  &__author {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__author-photo {
    @include card-author-icon-size;

    margin-right: 10px;
  }

  &__time-category {
    display: flex;
  }

  &__time {
    @include font-size-normal;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid transparent;
    border-radius: $border-radius;
    padding: $tag-padding;
    box-sizing: border-box;
    font-weight: 400;
    white-space: nowrap;

    &-content {
      display: flex;

      // отступ справа + снизу, чтобы много тегов разбивались по строкам
      margin: $tag-margin;
      border: 2px solid transparent;
      border-radius: $border-radius;
      box-sizing: border-box;
      background: transparent;
    }
  }

  &__category {
    @include font-size-normal;

    font-weight: $font-thick;
    white-space: nowrap;
    text-shadow: 0 0 10px $color-elements;
  }

  &__lift-effect {
    &:hover {
      transform: translateY(-20px);
      transition: transform 0.5s ease, -webkit-transform 0.5s ease, -moz-transform 0.5s ease;
      cursor: pointer;
    }
  }
}


.author-name {
  @include col;

  align-items: flex-start;
  min-width: 20%;

  &__username {
    @include font-size-small;
  }

  &__login {
    @include font-size-normal;
  }
}