@import "variables";
@import "mixins";

@keyframes do-levitation {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -0.5em);
  }
}

.header {
  display: flex;
  align-items: flex-start;
  width: 100%;
  @include header-height;
  font-family: $font-secondary;
  background-color: $color-primary;

  &__nav-items {
    @include row;

    position: relative;
    z-index: 1;
    transition: all 1s;
    display: flex;
  }

  &__nav-item {
    display: flex;
    height: -webkit-fill-available;
    align-items: center;

    &-sign {
      @include nav-item;
      display: flex;
    }

    &_active {
      border-bottom: 2px solid $color-secondary;
    }

    &:hover {
      background-color: $color-secondary;
      cursor: pointer;
    }
  }

  &__title {
    margin: $title-margin;
    font-family: $font-logo;
    @include font-size-large;
  }

  &__title-block {
    display: flex;
    height: 100%;

    &:hover {
      animation: do-levitation 0.5s alternate ease-in-out infinite;
      cursor: pointer;
    }
  }

  &__content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__right-block {
    display: flex;
    width: 100%;
    height: -webkit-fill-available;
    align-items: center;
    justify-content: flex-end;
  }

  &__add-article-btn {
    display: flex;
    transition: 0.5s;
    background-color: $color-secondary;
    @include font-size-normal;
    color: $color-elements;
    height: 100%;
    z-index: 4;

    &-sign {
      @include font-size-normal;
      display: flex;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      padding: 10px;
      text-align: center;
      
      &:hover {
        cursor: pointer;
        background-color: $color-selection;
      }
    }
  }

  &__search-btn {
    display: flex;
    @include header-search-btn-size;

    &-mobile-hideble{
      @include header-search-btn-size;
      @include mobile-display-only;
    }
  }
}
