@import "variables";
@import "mixins";

@keyframes do-levitation {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(0, -0.5em);
  }
}

.header {
  @include header-height;

  display: flex;
  align-items: flex-start;
  width: 100%;
  font-family: $font-secondary;
  background-color: $color-primary;

  &__nav-items {
    @include row;

    position: relative;
    z-index: 1;
    display: flex;
    transition: all 1s;
  }

  &__nav-item {
    display: flex;
    align-items: center;
    height: -webkit-fill-available;

    &-sign {
      @include nav-item;

      display: flex;
    }

    &_active {
      border-bottom: 2px solid $color-secondary;
    }

    &:hover {
      background-color: $color-secondary;
      cursor: pointer;
    }
  }

  &__title {
    @include font-size-large;

    margin: auto 20px;
    font-family: $font-logo;
  }

  &__title-block {
    display: flex;
    height: 100%;

    &:hover {
      animation: do-levitation 0.5s alternate ease-in-out infinite;
      cursor: pointer;
    }
  }

  &__content {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
  }

  &__right-block {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: -webkit-fill-available;
  }

  &__add-article-btn {
    @include font-size-normal;

    z-index: 4;
    display: flex;
    height: 100%;
    color: $color-elements;
    background-color: $color-secondary;
    transition: 0.5s;

    &-sign {
      @include font-size-normal;

      display: flex;
      padding: 10px;
      width: -webkit-fill-available;
      height: -webkit-fill-available;
      text-align: center;

      &:hover {
        background-color: $color-selection;
        cursor: pointer;
      }
    }
  }

  &__search-btn {
    @include header-search-btn-size;

    display: flex;

    &-mobile-hideble {
      @include header-search-btn-size;
      @include mobile-display-only;
    }
  }
}
