@import "mixins";

.sidebar {
  @include col;

  z-index: 12;
  font-family: $font-secondary;
  background-color: $color-sidebar;
  width: fit-content;

  @media (max-width: 900px) {
    min-width: 200px;
    max-width: 90%;
  }

  // подложка под sidebar для трекинга кликов вне его
  &__overlay {
    z-index: 12;
    height: 100vh;
    width: 100%;
    background-color: #00000060;

    &-container {
      display: flex;
      flex-direction: row;
      width: fit-content;

      max-width: 20%;

      @media (max-width: 900px) {
        width: 100%;
        max-width: 100%;
        position: absolute;
        display: none;
        top: 0;
        left: 0;
      }
    }
  }

  &__nav-links {
    @include row;
    @include header-height;
    @include font-size-normal;

    width: 100%;
    font-family: $font-primary;
    background-color: $color-secondary;
  }

  &__nav-items {
    @include col;

    display: none;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px;
  }

  &__item {
    padding-top: $sidebar-item-padding-top;
    cursor: default;
  }

  &__page-item {
    @extend .sidebar__item
  }

  &__categories {
    @include col;
    align-items: flex-start;
    margin-bottom: 30px;

    &-mobile-only {
      @extend .sidebar__categories;
      @include mobile-display-only();
    }

    &-mobile-hidable {
      @extend .sidebar__categories;
      @include mobile-display-none();
    }

    &-item-active {
      text-decoration: underline;
    }
  }

  &__title {
    @include font-size-large();
    margin-right: 5px;
  }

  &__categories-item {
    @include font-size-normal;

    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }
  }

  &__categories-more {
    @include row;
    @include font-size-small;

    cursor: pointer;
  }

  &__categories-more-text {
    margin-right: 5px;

    &:hover {
      text-decoration: underline;
    }
  }

  &__categories-search {
    @include row;
  }

  &__nav-item {
    @include font-size-normal;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    height: -webkit-fill-available;
    text-align: center;
    width: 100%;

    &:hover {
      background-color: $color-selection;
      cursor: pointer;
    }
  }

  &__login {
    @include header-font-size;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: -webkit-fill-available;
    text-align: center;
    width: 100%;
    text-align: right;
    overflow: hidden;
    padding: 10px;
    text-overflow: ellipsis;
  
    &:hover {
      background-color: $color-selection;
      cursor: pointer;
    }
  }

  &__nav-buttons {
    @include header-height;

    display: flex;
    align-items: center;
    width: 100%;
  }

  &__streams {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    margin-top: 10px;
    max-height: 25rem;

    &::-webkit-scrollbar {
      width: 0;
    }
  }

  &__content {
    @include col;

    align-items: flex-start;
    justify-content: space-between;
    overflow-y: scroll;
    height: 100%;
    margin: 15px;
    width: 80%;

    &::-webkit-scrollbar {
      width: 0px;
    }

    &-section {
      @include col;
      align-items: flex-start;
      width: 100%;
      display: flex;
    }
  }

  &__contacts {
    margin-bottom: $sidebar-margin-bottom;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  
    &__developer {
      @include header-font-size;
  
      cursor: pointer;
  
      &:hover {
        text-decoration: underline;
      }
    }
  }
}


