.tooltip {
  &:hover > &-row {
    opacity: 1;
    visibility: visible;
  }

  &-row {
    margin-left: 2px;
    margin-top: -75px;
    opacity: 0; /* Делаем его прозрачным */
    padding-left: 0.5rem;
    position: absolute;
    visibility: hidden; /* И прячем */
    z-index: 10;
    width: fit-content;

    &__content {
      background-color: $color-sidebar;
      border-radius: $border-radius;
      color: #fff;
      text-decoration: none;
      width: 350px;
    }
  }

  &-share {
    &-row {
      @extend .tooltip-row;
      @include icon-size-tooltip-offset();
      
      @media (max-width: 700px) {
        width: 100%;
        margin: 0;
        left: 0;
        padding: 10px 10px 10px 5%;
      }

      &__content {
        padding: 0.5rem 1rem;
        @extend .tooltip-row__content;
        @include icon-size-height();
        width: fit-content;
        height: fit-content;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }

  
}