$header-size: 75px;
$padding-nav-item: 10px;
$title-font-size: 36px;
$profile-menu-items: 30px;
$subtitle-font-size: 28px;
$sidebar-items-font-size: 24px;
$items-font-size: 24px;
$button-font-size: 24px;
$links-font-size: 20px;
$text-font-size: 18px;
$title-margin: auto 20px;
$action-btns-margin-right: 15px;
$sidebar-item-padding-top: 10px;
$sidebar-margin-bottom: 50px;
$tag-margin: 0 10px 10px 0;
$tag-padding: 5px;
$tags-margin-bottom: 10px;
